includes:
	- phpstan-baseline.neon
	- rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	resultCachePath: tmp/resultCache.php

	excludePaths:
		- tests/*/data/*
